.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  background-color: rgb(255,255,255);
  /* border: 1px solid red; */
}
.brand{
  /* border: 2px solid red; */
position: relative;
width: 150px;
height: 50px;
margin-right: 70px;

}

.img1{
  position: absolute;
top: 10px;
/* right: 0px; */
/* border: 1px solid blue; */
z-index: 4;
}
.flex{
  position: absolute;
  right: 0px;
  color: #012970;
  font-size: 30px;
  /* margin-top: 5px; */
  /* border: 2px solid red; */
}
.home{
  color: #013289;
margin-right: 19px;
}
.btn1{
  color: white;
  background-color: rgb(65,84,241);
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.modern{
  height: 500px;
  /* border: 2px solid red; */
  /* : 'logo.png'; */
/* overflow: hidden; */
display: flex;
}
.img2{
  /* src: 'logo.png' */
  z-index: -2;
}
.p1{
  left: 120px;
  position: absolute;
  height: 500px;
  width: 500px;
  /* border: 2px solid blue; */
  z-index: 1;
}
.p2{
  right: 120px;
  position: absolute;
  height: 500px;
  /* width: 500px; */
  /* border: 2px solid blue; */
  z-index: 1;
}
.we{
  color: #013289;
  margin-top: 100px;
  font-size: 45px;
}
.are{
  margin-top: 20px;
  font-size: 25px;
}
.btn2{
  background-color: rgb(65,84,241);
  color: white;
  padding: 10px;
  width: 150px;
  font-size: 20px;
  border: none;
  border-radius: 5px;

}
@media screen and (max-width: 1200px) {
  
  .img2{
    /* src: 'logo.png' */
    z-index: -2;
    height: 10px;
  }
  .modern{
    height: 900px;
    /* border: 2px solid red; */
    /* : 'logo.png'; */
  /* overflow: hidden; */
  display: block !important;
  }
  .modern2{
    height: 350px;
    /* border: 2px solid red !important; */
    width: auto;
  display: block;
/* width: 100px; */
  }
  .we{
    color: #013289;
    margin-top: 45px;
    font-size: 35px;
    text-align: center;
  }
  .are{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
  }
  .p1{
    left: 0px;
    position: absolute;
    height: 500px;
    width: 500px;
    /* border: 2px solid blue; */
    z-index: 1;
  }
  .btn2{
    background-color: rgb(65,84,241);
    color: white;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-left: 170px;
  align-items: center;
  }
  .p2{
    left: 1px;
    top: 500px;
    position: absolute;
    height: 450px;
    
    /* width: 700px; */
    /* border: 2px solid blue; */
    z-index: 1;
    /* margin-left: 130px; */
  }
  
}
.odit{
  /* border: 2px solid green; */
  /* justify-content: space-between; */
  /* margin-top: 150px; */
}
.our{
  /* border: 2px solid red; */
  text-align: center;
  color: #012970;
  margin-top: 200px;
}
.first{
  margin-top: 20px;
  height: 350px;
  width: 320px;
  /* border: 2px solid red; */
  /* align-items: center; */
  text-align: center;

}
.first h4{
  color: #012970;
  margin-top: 15px;
  margin-bottom: 30px;
}
.first p{
  color: gray;
}
.first:hover{
  box-shadow: 1px  -1px 10px  1px rgb(209, 207, 207);
  transition: 0.1s;
  /* border: 1px solid ; */


}
.first img:hover{
  scale: 0.9;
  transition: 1s;

}
@media screen and (max-width: 1200px){
  .our{
    /* border: 2px solid red; */
    text-align: center;
    color: #012970;
    margin-top: 60px;
  }
  .first{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

.neque{
  height: 600px;
  /* border: 2px solid red; */
  justify-content: space-between;
  margin-top: 100px !important;
}
.ne1{
  /* border: 2px solid red; */
  height: 600px;
}
.ne2 img{
  margin-top: 50px ;
}
.ne1 h2{
  color: #012970;
  margin-bottom: 20px;
}
.ne1 h5{
  color: #012970;
}
.ne2{
  /* border: 2px solid red; */
  height: 600px;
}
@media screen and (max-width:1200px){
  .neque{
    height: 1100px;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-top: 100px !important;
  }
}

.freq{
  text-align: center;
  color: #012970;
}
.accord{
  height: auto;
  margin-top: 50px !important;
  margin-bottom: 120px !important;

  /* border: 2px solid blueviolet; */
}
.ac1{
  /* height: 300px; */
  /* border: 2px solid red; */
}
@media screen and (max-width:1200px){}


.port{
  text-align: center;
  color: #012970;
  margin: 30px;
  /* border: 2px solid greenyellow; */
}
.late{
  /* border: 2px solid blue; */
  justify-content: center;
  /* height: 300px; */
}
.frow{
  margin: 30px;
}
.fmda img:hover{
  opacity: 0.8;
  transition: 0.5s;
  scale: 1.1;
}

.fmda:hover button{
  transition: 1s;
  display:block !important;

}
.fmda{
  position: relative;
  overflow: hidden;
  /* background-image: url("portfolio-1.jpg"); */
  /* height: 250px; */
}
.fmda1{
  position: relative;
  overflow: hidden;
 
}


.mda{
  display: none !important;
  position: absolute;
top: 120px;
left: 165px;
border-radius: 50px !important;
/* font-size: 20px !important; */

}
.tab-content{
  margin-bottom: 100px;
}
.address{
  height: 450px;
  /* width: 890px; */
  /* border: 2px solid rgb(56, 41, 190); */
}
.row11{
  /* height: 190px; */
  width: 568px;
  /* border: 2px solid rgb(20, 10, 10); */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.row121{
  padding: 10px;
  height: 190px;
  width: 240px !important;
  /* border: 2px solid red; */
  background-color: rgb(222, 227, 245);
 
}
.row121 h4{
  color: #012970;
  /* margin-bottom: 50px; */
}
.mess{
  height: 100px;
}
.cras{
  height: 250px;
  padding-top: 25px;

  /* border: 2px solid red; */
}
.foot{
  margin-top: 120px;
  border: 1px solid rgb(225,236,255);
background-image: url('footer-bg.png');
background-repeat: no-repeat;
background-position: 550px;
}
.f12{
  padding-top: 25px;
  color: #012970;
  margin-left: 50px;
}

.accordion{
  --bs-accordion-active-bg:none !important;
}